{% extends "base.html" %}
{% block content %}
	{% block more %}
	{% endblock %}
	<div class="tabs-section">
		<div class="tabs">
			{% for tab in tabs %}
			{% with url = url_for(tab[0]) %}
			<a
				class="tab-title {% if url == url_for(request.url_rule.endpoint) %}active{% endif %}"
				href="{{ url }}"
			>
				{{ tab[1] }}
			</a>
			{% endwith %}
			{% endfor %}
		</div>
		<div class="side-container">
			<div class="side-actions">
				<input type="text" placeholder="Rechercher">
				<a class="button filters-toggle"><i class="fa fa-filter"></i> Filtrer</a>
			</div>
		</div>
	</div>

	<div class="filters">
		<div class="filter-input">
			<button class="checkbox">Filtre 1</button>
		</div>
		<div class="filter-input">
			<button class="checkbox active">Filtre 2</button>
		</div>
		<div class="filter-input">
			<button class="checkbox">Filtre 3</button>
		</div>
		<div class="filter-input">
			<label for="text1">Filtre texte 1</label>
			<input type="text" id="text1">
		</div>
		<div class="filter-input">
			<label for="number1">Filtre nombre 1</label>
			<input type="number" id="number1">
		</div>
		<div class="filter-input">
			<label for="select1">Filtre select 1</label>
			<select id="select1">
				<option>Option 1</option>
				<option>Option 2</option>
				<option>Option 3</option>
			</select>
		</div>
	</div>

	<table
		{% if table_id %}id="{{ table_id }}"{% endif %}
		class="table-list"
	>
		<thead>
			{% if data|length > 0 %}
			<tr>
			{% for key in data[0].keys() %}
				{% if key not in excludes %}
				<th>{{ key }}</th>
				{% endif %}
			{% endfor %}
			</tr>
			{% endif %}
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				{% for key, value in row.items() %}
				{% if key not in excludes %}
				<td>
					{% if value == None %}
					-
					{% else %}
					{% with type = value|typify %}
					{% if type == 'date' %}
					{{ value|datetime }}
					{% else %}
					{{ value|safe }}
					{% endif %}
					{% endwith %}
					{% endif %}
				</td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
